<aside class="sidebar col-lg-3">
    <div class="widget widget-dashboard">
        <h3 class="widget-title">My Account</h3>
        <ul class="list">
          @*  <li class="active"><a href="#">Account Dashboard</a></li>*@
            <li><a href="/Customer/MyAccount">Account Information</a></li>
            <li><a href="/Customer/AddressBook">Address Book</a></li>
            <li><a href="/Customer/MyOrders">My Orders</a></li>
            
          <li><a href="/Customer/ChangePassword">Change Password</a></li>
   <li><a href="/Customer/Complains">Complains</a></li>
  @*  <li><a href="#">My Tags</a></li>
    <li><a href="#">My Wishlist</a></li>
    <li><a href="#">My Applications</a></li>
    <li><a href="#">Newsletter Subscriptions</a></li>
    <li><a href="#">My Downloadable Products</a></li>*@
        </ul>
    </div>
</aside>