
@{
    Layout = "~/Views/Shared/_CustomerLayout1.cshtml";
    ViewBag.Title = "FAQ";
}



   <!-- breadcrumb area start -->
<section class="breadcrumb__area include-bg text-center pt-50 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-xxl-12">
                <div class="breadcrumb__content p-relative z-index-1">
                    <h3 class="breadcrumb__title">Frequently Asked Question</h3>
                    <div class="breadcrumb__list">
                        <span><a href="/Home/Index">Home</a></span>
                        <span>FAQ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->



<!-- FAQ area start -->
<section class="tp-contact-area pb-100">
    <div class="container">
        <div class="tp-contact-inner">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button text-dark h4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How Can I Change My Shipping Address ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                       <ol>
                                           <li>
                                               First login your account with mob no. & password
                                           </li>
                                           <li>
                                               Go to “my account section”.
                                           </li>
                                           <li>
                                               In this section select “address book”
                                           </li>
                                           <li>
                                               Then go to address list and “edit” your address and update it.
                                           </li>
                                           <li>
                                               Your shipping address will be updated.
                                           </li>
                                       </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button text-dark h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What Do You Mean By Shopping Points? How Do I Earn It?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    MSCL Shopping have a concept of shopping points. Users get some shopping points in different ways using MSCL Shopping app like from “refer anyone” “become prime member” etc. these points could be redeemed by only prime members for product purchases on MSCL Shopping.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  text-dark h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How Do I Activate My Account?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ol>
                                        <li>
                                            Go to MSCL Shopping
                                        </li>
                                        <li>
                                            Click login
                                        </li>
                                        <li>
                                            Enter mobile number & set password.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  text-dark h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    How Can I Track My Orders & Payment?
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ol>
                                        <li>
                                            First login your account.
                                        </li>
                                        <li>
                                            Go to “my account section”
                                        </li>
                                        <li>
                                            In this section click “ My order”
                                        </li>
                                        <li>
                                            Your complete details of your order shows.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  text-dark h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    How Long Will It Take For My Order To Arrive After I Make Payment?
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ol>
                                        <li>
                                            Normally arrive within 3-7 days of shipping, unless otherwise noted.
                                        </li>
                                        <li>
                                            Once an order leaves from us, carrier shipping delays may occur due to factors outside our control.
                                        </li>
                                        <li>
                                            Please note that shipping delays will occur if you provide an incorrect address at checkout.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  text-dark h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Are The Payment Methods Available?
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ol>
                                        <li>
                                            UPI
                                        </li>
                                        <li>
                                            RuPay Card
                                        </li>
                                        <li>
                                            Debit Card
                                        </li>
                                        <li>
                                            Credit Card
                                        </li>
                                        <li>
                                            Offline Payment.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button  text-dark h4 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Where Do I Look For “Frequently Asked” Questions?
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <ol>
                                        <li>
                                            To look FAQ’s “Frequently Asked Questions” Go to MSCL Shopping Site and at the bottom of Home Page in “Customer Service” section you will get the “FAQ” section.
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ area end -->
