@model MSCLShopping.Models.Home

@{
    ViewBag.Title = "ForgotPassword";
    
}

 
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguys.co.in/demo/ventura/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Aug 2019 05:44:18 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Admin Login</title>

    <!-- Favicon -->
    @*<link rel="shortcut icon" type="image/x-icon" href="../../AdminCSS/img/favicon.png">*@
    <link rel="icon" type="image/x-icon" href="../../img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../AdminCSS/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="../../AdminCSS/css/font-awesome.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="../../AdminCSS/css/style.css">

    <!--[if lt IE 9]>
        <script src="../../AdminCSS/js/html5shiv.min.js"></script>
        <script src="../../AdminCSS/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <div class="loginbox">
                    <div class="login-left">
                        <img class="img-fluid" src="~/newassets/img/logo/logo1.png" />
                    </div>
                    <div class="login-right">
                        <div class="login-right-wrap">
                            <h1>Forgot Password</h1>
                            <p class="account-subtitle"> </p>

                            <!-- Form -->
                            @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { @id = "signupForm" }))
                            {
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.LoginId, new { @class = "form-control" ,@placeholder= "Login Id" })
                                    @*<input class="form-control" type="text" id="txtLoginID" name="LoginID" placeholder="Login ID" required="">*@
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @placeholder = "Mobile No" })
                                    @*<input class="form-control" type="text" id="txtmob" name="Mobile" placeholder="Mobile" required="">*@
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Get Password" class="btn btn-primary btn-block" name="btnGetPassword" />
                                </div>
                                if (TempData["Login"] != null)
                                {
                                    <div class="alert alert-danger">
                                        @TempData["Login"]
                                    </div>
                                }
                            }
                            <!-- /Form -->
                           
                            <br />
                            <div class="text-center">
                                <a href="/Home/Login">Back To Login</a>
                                <br/>
                                <a href="/Home/Index">Back To Shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="../../AdminCSS/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="../../AdminCSS/js/popper.min.js"></script>
    <script src="../../AdminCSS/js/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="../../AdminCSS/js/script.js"></script>

</body>
<!-- Mirrored from dreamguys.co.in/demo/ventura/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 19 Aug 2019 05:44:18 GMT -->
</html>

